<div class="navbar">
    
    <a *ngIf="onProfilePage" class="previous round" [routerLink]="['/home']">&#8249;</a>

    <span class="welcome-text"> Welcome, {{ userName}}</span>
    <div *ngIf="!onProfilePage" class="search-bar">
        <input type="text" [(ngModel)]="filterStatus" (ngModelChange)="onChange()" placeholder="Search here...">
    </div>
    <!-- {{ filterStatus }} -->


    <div *ngIf="onProfilePage" class="row">
        <div class="heading-1" (click)="routeTo('Details')">Details</div>
        <div class="heading-1" (click)="routeTo('Posts')">Posts</div>
        <div class="heading-1" (click)="routeTo('Albums')">Albums</div>
    </div>

    <div class="logout-btn" (click)="logout()">Logout</div>
</div>