@import '../styles.scss';

.login {
    height: auto;
    margin: auto;
    margin-top: 300px;
    width: 400px;
    box-shadow: 0px 0px 8px -1px;
    border-radius: 10px;
}

.heading {
    background-color: $primary_color;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-field {
    background-color: $gray_color;
    border-radius: 15px;
    height: 30px;
    width: 70%;
}

.form-fields {
    height: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.login-button {
    outline: none;
    border: none;
    color: white;
    background-color: $primary_color;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}