<form class="login">
  <div class="heading" fxLayout="row" fxLayoutAlign="center center" > 
      <h1>Login</h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" class="form-fields">
    <div class="input-field" fxLayout="row" fxLayoutAlign="center center">
      <input type="text" placeholder="Enter email here..." class="no-outline">
    </div>
    <div class="input-field" fxLayout="row" fxLayoutAlign="center center">
      <input type="password" placeholder="Enter password here..." class="no-outline">
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button type="button" class="login-button">Login</button>
  </div>
</form>