/* You can add global styles to this file, and also import other style files */
$primary_color: #0081CC;
$gray_color: #E6E6E6;
$green_color: #27AE60;

.no-outline {
    border: none;
    outline: none;
    background-color: $gray_color;
}